<div >
  <nav class="nav">
      <div class="nav-pic">
          <div id="accadd"></div><br>
      <a href="/account/add">Account Add</a>
      </div>

      <div class="nav-pic">
          <div id="trans"></div><br>
          <a href="/transaction/new">Transaction</a>
      </div>

      <div class="nav-pic">
          <div id="acind"></div><br>
          <a href="/account/index">ACC.index</a>
      </div>
      
      <%- locals.currentUser ? `<div id="user"><p style="text-align: right;"> ${locals.currentUser.firstName} ${locals.currentUser.lastName} </p> </div> <div class ="nav-pic"><div id="sino"></div><br><a href="/auth/signout">Sign out</a></div>` : `<div class="nav-pic"><div id="siin"></div><br><a href="/auth/signin">Sign in</a></div><div class="nav-pic"><div id="siup"></div><br><a href="/auth/signup">Sign up</a></div>` %>
      
   
      
  </nav>
</div>

<h1>Don't do it again.</h1>
<form action="/auth/forget" method="POST">

  <div class="form-row">
    <label for=email>Email</label>
    <input autocorrect="off" autocomplete="off" autocapitalize="off"
    type=text name=email />
    <br>
    <label for="recoveryKey">Recovery Key</label>
    <input type="text" id="recoveryKey" name=recoveryKey />
  </div>
  <div>
    <label for=password>New Password</label>
    <input type=password name=password />
    <br>
  </div>
  <button>Reset Password</button>
</form>

