


<div id="signup-style">

    <div id="signup-style-info">

        <div id="addicon"></div>

<h1>Create a new account</h1>
<form method="POST" action="/auth/signup">
    <div>
    <label class="signup-label">First Name</label><br>
    <input name="firstName" type="text"class="signup-input"/>
</div>

<div class="form-group">
    <label class="signup-label">Last Name</label><br>
    <input name="lastName" type="text"class="signup-input"/>
    </div>
    
    <div class="form-group">
    <label class="signup-label">Email Address</label><br>
    <input name="emailAddress" type="email"class="signup-input"/>
    </div>
    
    <div class="form-group">
        <label class="signup-label">Password</label><br>
        <input name="password" type="password"class="signup-input" />
    </div>
    
    
    <div class="form-group">
        <label class="signup-label">Recovery Key</label><br>
        
        <input name="recoveryKey" id="r-key" type="text" required onkeypress="return false;" class="signup-input" readonly />
        
    </div>
<br>
<div>
<button type="submit">Sign Up</button>
</div>
</form>
</div>


</div>