<h1>update password</h1>

<form action="/auth/updatepassword" method="POST">
  <div class="form-row">
    <label for=password>New Password</label>
    <input type=password name=password />
    <br>
  </div>
  <button>Reset Password</button>
</form>

