
    <div>
        <h2><%= account.accountName %></h2>
        <h3><%= account.accountNumber %></h3>
        <h3><%= account.currency %></h3>
        <h3><%= account.balance%></h3>
    </div>



<h2>Transaction History</h2>