#sendm{
    width: 97%;
    height: 500px;
    background-color: white;
    margin: 0 auto;
    border-radius: 30px;
    text-align: center;
    margin-top: 30px;
}

#sendm-lab{
    width: 100%;
    height: 100px;
    background-color: rgb(43, 65, 83);
}

#sendm-lab h2{
    color: antiquewhite;
    display: inline-block;
    margin-top: 35px;
}


