#signin-main{
    width: 96%;
    height: 600px;
    border-radius: 40px;
    margin-left: 26px;
    margin-bottom: 20px;
    display: flex;
    background-image: url('./pic/signin.jpg');
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 2px black;
    margin-top: 30px;
}

p{
    z-index: 1;
    font-size: 20px;
    color: blue;
}

.nav{
    height:80px;
    width: 625px;
    text-align: center;
    background-color: rgb(11, 0, 109);
    margin-left: 27%;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    font-family: 'Raleway', sans-serif;
}



#accadd{
    background-image: url('./pic/account\ add.png');
    height: 50px;
    width: 40px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 17px;
}

#siin{
    background-image: url('./pic/sign\ in.png');
    height: 50px;
    width: 70px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 16px;
}

#sino{
    
}


#sino a{
text-decoration: none;
color: aliceblue;
}

#siup{
    background-image: url('./pic/register-14.png');
    height: 50px;
    width: 40px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 12px;
    margin-bottom: -2px;
}

#trans{
    background-image: url('./pic/transaction.png');
    height: 50px;
    width: 40px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
}

#acind{
    background-image: url('./pic/accindex.png');
    height: 50px;
    width: 40px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 10px;
}


.nav-pic{
    padding-left: 30px;
}

.nav-pic a{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    padding-left: 10px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}



#signin-logo{
    background-image: url('./pic/signin.png');
    width: 200px;
    height: 200px;
    background-size: contain;
}


#signin-info{
    width: 450px;
    height: 100%;
    background-color: rgb(231, 158, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.signin-label{
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 2px;
    font-weight: bold;
    color: bisque;
    text-shadow: 2px 1px 1px  black;
}


.signin-input{
    width: 250px;
    height: 20px;
    border-radius: 5px;
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: 1px solid black;
    padding-left: 5px;
}

#signin-info button{
    margin-left: 100px;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    border: 1px solid white;
    color: rgb(231, 197, 0);
    background-color: rgb(11, 0, 109);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    box-shadow: 2px 1px 2px black;
}

#signin-info a{
    margin-left: 80px;
    font-weight: bold;
}