body{
    margin: 0;
    background-color: rgb(11, 0, 109);
    font-family: 'Raleway', sans-serif;
}
#user{
    position: absolute;
    right: 80px;
    background-color: rgb(11, 0, 109);
    border-radius: 15px;
    text-align: center;
    width: 200px;
    height: 50px;
}
#user p{
    color: rgb(231, 197, 0);
    margin: 0;
    margin-top: 15px;
}

#test{
    width: 100px;
    height: 100px;
}

#banner{
    margin: 0;
    width: 97%;
    height: 100px;
    background-color: rgb(231, 197, 0);
    margin-left: 19px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 17px;
    margin-bottom: -90px;
}

#banner h1{
display: inline-block;
margin: 0px;
margin-left: 3px;
margin-top: 15px;
position: absolute;
color: aliceblue;
text-shadow: 2px 2px 2px black;
}

#banner h2{
    display: inline-block;
    margin: 0;
    margin-top: 50px;
    margin-left: 5px;
    position: absolute;
    color: aliceblue;
text-shadow: 2px 2px 2px black;
}





#logo{
    background-image: url('./pic/logoo.png');
    background-size: contain;
    width: 90px;
    height: 90px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 3px;

}


#Main-body-layout{
    width: 96%;
    height: 600px;
    background-color: aliceblue;
    border-radius: 40px;
    margin-left: 25px;
    margin-bottom: 30px;
    margin-top: 110px;
}

