body{
    margin: 0;
    background-color: rgb(11, 0, 109);
    font-family: 'Raleway', sans-serif;
}

#banner{
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(231, 197, 0);
}

#banner h1{
display: inline-block;
}





#logo{
    background-image: url('./pic/logoo.png');
    background-size: contain;
    width: 90px;
    height: 90px;
    display: inline-block;

}


#Main-body-layout{
    width: 96%;
    height: 600px;
    background-color: aliceblue;
    border-radius: 40px;
    margin-left: 25px;
    margin-bottom: 50px;
}

