<div id="sendm">
<h1>send money.</h1>
<form action="/transaction/add?senderAccount=<%= account.accountNumber %>" method="POST">
    <div class="form-row">
        <label for=accountName>From account: </label> <p> <%= account.accountName %></p>
        <label for=accountName>Account balance: </label> <p> <%= account.currency + ' ' +account.balance %></p>
        <label for=receiverAcc>Account number of recipient:</label>
        <input type=text name=receiverAcc />
        <br>
        <label for=amountSend>Amount to send:</label>
        <input type=text name=amountSend />
        <br>
    </div>
    <button>send money</button>
</form>

</div>