<div id="Main-body-layout">

    <div id="home-pic">
        <div id="info">
            
            <h2>Welcome CE</h2>
            <h4>Welcome CE</h4>
            <a href="/auth/signup"><input type="button" value="Join Now"></a>

        </div>
    </div>
</div> 

